{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage",
      "debug": false
    }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": false,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }
    ]
  ]
}
