.elb-mapping-loop {
  &-add-button {
    width: 100%;
    justify-content: center;
  }

  &-remove-button {
    width: 100%;
    justify-content: center;
    margin-top: 16px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-label {
    display: block;
    font-size: var(--font-size-base);
    color: var(--color-text-label);
    font-weight: var(--font-weight-semibold);
    margin-bottom: 8px;
  }

  &-hint {
    font-size: calc(var(--font-size-base) - 1px);
    color: var(--color-text-muted);
    margin-top: 4px;
    line-height: 1.4;
  }

  &-source {
    display: flex;
    flex-direction: column;

    &-input {
      padding: 8px 12px;
      font-family: var(--font-family-base);
      font-size: var(--font-size-base);
      color: var(--color-text-input);
      background: var(--bg-input);
      border: 1px solid var(--border-input);
      border-radius: var(--radius-button);
      outline: none;
      transition: all 0.15s;

      &:hover {
        background: var(--bg-input-hover);
      }

      &:focus {
        border-color: var(--border-input-focus);
      }

      &::placeholder {
        color: var(--color-text-muted);
        opacity: 0.6;
      }
    }
  }

  &-transform {
    display: flex;
    flex-direction: column;

    &-header {
      margin-bottom: 12px;
    }

    &-form {
      padding: 16px;
      background: var(--bg-box);
      border: 1px dashed var(--border-input);
      border-radius: var(--radius-button);
    }
  }
}
